.cate{
    width:100%;
    height:1.4rem;
    background:#1D1818;
}
.cate ul{
    width:100%;
    height:0.7rem;
    display:flex;
}
.cate ul li{
    width:25%;
    height:100%;
    color:#fff;
    line-height:0.7rem;
    text-align:center;
    font-size:0.35rem;
}
.cate .active{
    color:#7E6C31;
    border-bottom:0.1rem solid#7E6C31;
}
.show{
    width:100%;
    background:#1D1818;
}
.show ul{
    width:100%;
    padding-bottom:1rem;
}
.show ul li{
    width:100%;
    height:1.2rem;
    border-bottom:1px solid#fff;
    display:flex;
}
.left{
    width:3.5rem;
    height:100%;
    /*background:pink;*/
    color:#fff;
}
.left span{
    display:block;
    margin-left:8%;
    margin-top:0.2rem;
    font-size:0.35rem;
}
.left p{
    margin-left:8%;
}
.right{
    width:3rem;
    height:100%;
    /*background:green;*/
    margin-left:1rem;
    position:relative;
}
.right img{
    width:0.5rem;
    height:0.5rem;
    position:absolute;
    top:0.35rem;
}
.right img:nth-child(1){
    left:1rem;
}
.right img:nth-child(2){
    left:1.6rem;
}
.right img:nth-child(3){
    left:2.2rem;
}