.content{
    width:100%;
    height:12rem;
    background:#000;
}
.touxiang{
    width:2.5rem;
    height:2.5rem;
    /*background:red;*/
    margin:0 auto;
    margin-top:0.5rem;
    border-radius:50%;
}
.touxiang img{
    width:2.5rem;
    height:2.5rem;
    border-radius:50%;
}
.list{
    width:100%;
    margin-top:0.5rem;
}
.list li{
    width:100%;
    height:1.5rem;
    /*background:green;*/
    border-bottom:0.01rem solid#fff;

}
a{
    display:block;
    width:100%;
    height:100%;
    display:-webkit-box;
    display:flex;
}
.left{
    width:3rem;
    height:100%;
    /*background:pink;*/
    margin-left:0.5rem;
    font-size:0.35rem;
    color:#fff;
    line-height:1.5rem;
}
.right{
    width:3rem;
    height:100%;
    /*background:orange;*/
    margin-left:0.5rem;
    font-size:0.35rem;
    color:#fff;
    line-height:1.5rem;
}
.left img{
    width:0.4rem;
    height:0.4rem;
}
.right img{
    width:0.35rem;
    height:0.35rem;
}