body,html,p,ul,li,a,span,img{
    margin:0;padding:0;
    list-style:none;
}
body,html{
    width:100%;height:100%;
    font-size:16px;
    box-sizing:border-box;
    font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
}
body{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
header{
    width:100%;
    height:0.8rem;
    background:#DF3031;
    position:fixed;
    top:0;left:0;
    z-index:999;
}
.banner{
    width:100%;
    height:3rem;
    /*background:yellow;*/
    position:relative;
}
.footer{
    width:100%;
    height:1rem;
    background:#DF3031;
    display:flex;
    display:-webkit-box;
    position:fixed;
    bottom:0;left:0;
    z-index:10;
}
.footer .foot{
    width:1rem;
    height:1rem;
    /*background:green;*/
    margin-left:9%;
}
.foot a{
    display:block;
    width:100%;
    height:0.6rem;
    /*background:yellow;*/
    font-size:0.3rem;
    color:#fff;
    line-height:1.7rem;
    text-align:center;
    text-decoration:none;
}
.foot1 a{
    background:url(../img/shouye.png) no-repeat 50% 0;
    background-size:contain;
    color:#fff;
}
.foot2 a{
    background:url(../img/luntan.png) no-repeat 50% 0;
    background-size:contain;
}
.foot3 a{
    background:url(../img/guanzhu.png) no-repeat 50% 0;
    background-size:contain;
}
.foot4 a{
    background:url(../img/huiyuan.png) no-repeat 50% 0;
    background-size:contain;
}
